---

---

<button
  title="Scroll To Top"
  id="scroll-to-top"
  aria-label="Scroll to top"
  class="fixed bottom-5 right-5 bg-primary text-primary-foreground p-2 rounded-full shadow-lg transition-opacity duration-300 opacity-0 invisible"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
  </svg>
</button>

<script>
  const scrollToTopButton = document.getElementById("scroll-to-top");

  function toggleScrollToTopButton() {
    if (window.pageYOffset > 100) {
      scrollToTopButton?.classList.remove("opacity-0", "invisible");
      scrollToTopButton?.classList.add("opacity-100", "visible");
    } else {
      scrollToTopButton?.classList.remove("opacity-100", "visible");
      scrollToTopButton?.classList.add("opacity-0", "invisible");
    }
  }

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }

  if (scrollToTopButton) {
    window.addEventListener("scroll", toggleScrollToTopButton);
    scrollToTopButton.addEventListener("click", scrollToTop);
  }
</script>
