---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main>
    <Button variant="destructive">Add Product</Button>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error neque
      atque nam repellendus aliquid molestiae, porro in suscipit deserunt
      eligendi cumque eum dignissimos ullam provident accusamus magni culpa quae
      dolorum?
    </p>
  </main>
</Layout>
