---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main transition:name="hero" class="mt-16">
    <section class="container mx-auto">
      <Button variant="default">Add Product</Button>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error neque
        atque nam repellendus aliquid molestiae, porro in suscipit deserunt
        eligendi cumque eum dignissimos ullam provident accusamus magni culpa
        quae dolorum? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nisi qui repellendus cum cupiditate ad ipsa eius placeat autem voluptate
        excepturi alias est eveniet amet aspernatur itaque porro voluptatibus
        hic eum obcaecati, culpa provident aliquid dolorum sequi! Nulla odit
        voluptates totam quibusdam est libero distinctio officia, repellendus
        perferendis animi eaque iste architecto. Ipsum repudiandae excepturi
        ipsa laudantium animi ex quos, aspernatur quibusdam voluptatibus eius
        ipsam voluptate quas temporibus eum velit rerum molestias neque quia.
        Quisquam quasi ea sunt aliquam, dignissimos quaerat animi nostrum
        reiciendis illum rem adipisci quam maxime, perferendis architecto illo
        saepe exercitationem. Natus placeat amet eius voluptate reiciendis rerum
        corrupti omnis non ducimus, assumenda libero voluptas et pariatur ad
        iure architecto perferendis quas facilis itaque impedit reprehenderit
        quam voluptatum. Recusandae fugit totam, beatae, voluptate porro
        molestiae fuga sapiente obcaecati, soluta quaerat aut odio libero nemo
        nesciunt tempora maxime! Nesciunt, sunt ipsum itaque quia quas illo
        illum quis laborum? Perferendis sunt labore, ex modi inventore obcaecati
        accusamus eaque vel iste saepe rerum blanditiis repellendus molestias
        corporis distinctio, officiis incidunt reprehenderit odio aperiam
        architecto? Corporis excepturi, distinctio enim itaque numquam quaerat
        error eveniet esse quae fuga minima dolor, necessitatibus doloribus
        quisquam omnis modi. Fuga officiis sunt quas tenetur ipsam hic delectus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, architecto
        ipsum recusandae quaerat atque impedit perferendis facere iste? Quidem
        similique nostrum nam? Eligendi, excepturi. Reprehenderit soluta dolorum
        aperiam laborum aspernatur. Ipsam, ducimus. Pariatur quia maiores dolore
        ipsa animi nesciunt assumenda cupiditate, unde nemo ea at. Architecto
        ipsa sapiente delectus praesentium earum at quidem. Eum omnis ullam
        quasi. Repellendus iure perspiciatis aliquam repellat pariatur totam qui
        magnam. Est mollitia incidunt aliquid iure nihil maiores magni eaque
        recusandae, dignissimos sequi, aut quo impedit culpa, fugiat quidem et
        repellat veniam doloribus? Doloremque, accusamus, dolore dicta sit dolor
        ratione quis pariatur obcaecati inventore itaque quisquam voluptates sed
        ea minus molestias dignissimos asperiores nihil, vel in mollitia neque
        laboriosam excepturi. Iure, unde! Omnis dolores inventore eum veritatis
        pariatur doloremque praesentium cum doloribus quia? Dolore, pariatur
        commodi, iste reiciendis delectus cupiditate beatae numquam unde sed
        repellat repellendus, tempora cumque consequatur facilis et doloremque
        autem qui ullam libero. Obcaecati sint atque minima unde tempora numquam
        esse. Dolor excepturi dignissimos incidunt est in blanditiis.
        Praesentium beatae ratione nihil facilis sint delectus minima
        consequatur maiores, tempore corrupti labore nam libero eius,
        reprehenderit odit totam eveniet. Ab qui veritatis sunt ipsa atque nam
        possimus voluptatibus quae ex quis beatae nulla enim voluptates quam
        hic, natus repellat odit itaque! Possimus alias odit accusantium error
        obcaecati fuga, voluptatibus incidunt, perferendis at harum laborum sed.
        Ut, fuga natus. Laborum minima eum ipsum quam quia ex tempore eligendi
        ipsa velit eius beatae officia, dicta voluptatum neque quae consequuntur
        est voluptates assumenda nemo dolorem? Sunt laboriosam animi quasi
        labore aperiam earum voluptatibus, nobis quaerat error excepturi
        temporibus. Dicta voluptatibus id error maiores repellat blanditiis,
        culpa quam perspiciatis ex quisquam recusandae delectus repudiandae!
        Quidem voluptatem porro quis, corrupti eaque, aperiam numquam culpa
        mollitia sunt hic, alias enim. Inventore maxime dolor fugiat unde
        adipisci eligendi, aspernatur obcaecati.
      </p>
    </section>
  </main>
</Layout>
