---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fugit iure repellendus eius? Quaerat consequatur assumenda, ratione vel at laboriosam animi ipsam, atque eius quae, suscipit inventore fugiat repudiandae doloribus.</p>
    </main>
</Layout>