---
import Hero from "@/components/pageComponents/Hero.astro";
import Layout from "../layouts/Layout.astro";
import AboutUs from "@/components/pageComponents/AboutUs.astro";
---

<Layout title="Home">
  <main class="w-full">
    <Hero />
    <AboutUs />
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolorem
    id facilis esse aliquam placeat reprehenderit quod, officiis quidem corporis
    aperiam in nostrum itaque, sapiente veniam incidunt! Delectus, architecto eveniet!
  </main>
</Layout>
